button {
    justify-content: center;
    align-content: center;
    font-size: 2rem;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
}

.screen {
    font-size: 4rem;
    text-align: right;
}

.final-row {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.number {
    font-size: xx-large;
    width: 48px;
}

.operator {
    font-size: xx-large;
    width: 48px;
}

.decimal {
    font-size: xx-large;
    width: 48px;
}

.equals {
    font-size: xx-large;
    width: 48px;
}